@page
@model ShinobiRanks1._0.Pages.hvillage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HVillage[0].HVName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HVillage[0].HVTerrain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HVillage[0].KageType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HVillage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HVName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HVTerrain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KageType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HVID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HVID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HVID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
