@page
@model ShinobiRanks1._0.Pages.hvkage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HVKage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HVKage.KageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HVKage.KageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HVKage.KageChakraNature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HVKage.KageChakraNature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HVKage.KVillage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HVKage.KVillage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HVKage.KVillages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HVKage.KVillages.HVID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="HVKage.KID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
