@page
@model ShinobiRanks1._0.Pages.hvkage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HVKage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HVKage.KageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HVKage.KageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HVKage.KageChakraNature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HVKage.KageChakraNature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HVKage.KVillage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HVKage.KVillage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HVKage.KVillages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HVKage.KVillages.HVID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HVKage.KID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
